.btn-split {
    position: relative;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
    border: none;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    height: 15px;
    margin-left: 11.3rem;

}

.btn-split .text-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: #000;
}

.btn-split .char {
    display: inline-block;
    opacity: 0;
    transform: translateY(100px) rotate(10deg);
}