body,
html {
    background-color: black;
    height: 100%;
    width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 17s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg)
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg)
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(---position) - 1) * (360 / var(---quantity)) * 1deg)) translateZ(430px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
}